Repository coverlet-coverage/coverlet, pull requests merged in 2019-10, with the labels that each got.

#582 Add solution items code files
  coverlet.sln
Labels: enhancement

#583 Improve lambda scenario coverage
  src/coverlet.core/Coverage.cs
  src/coverlet.core/Helpers/InstrumentationHelper.cs
  src/coverlet.core/Instrumentation/Instrumenter.cs
  src/coverlet.core/Instrumentation/InstrumenterResult.cs
  test/coverlet.core.tests/CoverageTests.cs
  test/coverlet.core.tests/InstrumenterHelper.cs
  test/coverlet.core.tests/Samples/Instrumentation.Lambda.cs
Labels: bug, tenet-coverage

#587 Add know issues doc
  Documentation/KnowIssues.md
  README.md
Labels: documentation

#588 Add changelog
  Documentation/Changelog.md
  README.md
Labels: documentation

#589 Exclude by assembly level System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage
  Documentation/MSBuildIntegration.md
  coverlet.sln
  src/coverlet.core/Coverage.cs
  src/coverlet.core/Helpers/FileSystem.cs
  src/coverlet.core/Instrumentation/Instrumenter.cs
  test/coverlet.core.tests/CoverageTests.cs
  test/coverlet.core.tests/Instrumentation/InstrumenterTests.cs
  test/coverlet.core.tests/coverlet.core.tests.csproj
  test/coverlet.tests.projectsample.excludedbyattribute/SampleClass.cs
  test/coverlet.tests.projectsample.excludedbyattribute/coverlet.tests.projectsample.excludedbyattribute.csproj
  test/coverlet.tests.remoteexecutor/coverlet.tests.remoteexecutor.csproj
Labels: feature-request

#596 Add extension for getservice and replace usages
  src/coverlet.collector/DataCollection/CoverageWrapper.cs
  src/coverlet.console/Program.cs
  src/coverlet.core/Extensions/DependencyInjectionExtensions.cs
  src/coverlet.msbuild.tasks/CoverageResultTask.cs
  src/coverlet.msbuild.tasks/InstrumentationTask.cs
  test/coverlet.collector.tests/CoverletCoverageDataCollectorTests.cs
Labels: enhancement
