Repository coverlet-coverage/coverlet, pull requests merged in 2019-12, with the labels that each got.

#625 Fix 'Failed to resolve assembly' cecil issue
  Directory.Build.targets
  src/coverlet.core/Exceptions.cs
  src/coverlet.core/Instrumentation/CecilAssemblyResolver.cs
  src/coverlet.core/Instrumentation/Instrumenter.cs
  src/coverlet.core/coverlet.core.csproj
  test/coverlet.core.tests/Instrumentation/InstrumenterTests.cs
  test/coverlet.core.tests/coverlet.core.tests.csproj
Labels: bug

#633 Update Changelog.md
  Documentation/Changelog.md
Labels: documentation

#634 Fix ConfigureAwait state machine generated branches
  src/coverlet.core/Symbols/CecilSymbolHelper.cs
  test/coverlet.core.tests/CoverageTests.cs
  test/coverlet.core.tests/Samples/Instrumentation.AsyncAwait.cs
Labels: bug, tenet-coverage

#639 Add integration test for all drivers mbuild/vstest/.net tool
  CONTRIBUTING.md
  Directory.Build.targets
  build.yml
  coverlet.sln
  src/coverlet.core/Properties/AssemblyInfo.cs
  test/coverlet.collector.tests/CoverletSettingsParserTests.cs
  test/coverlet.integration.template/DeepThought.cs
  test/coverlet.integration.template/TemplateTest.cs
  test/coverlet.integration.template/coverlet.integration.template.csproj
  test/coverlet.integration.template/nuget.config
  test/coverlet.integration.tests/AssertHelper.cs
  test/coverlet.integration.tests/BaseTest.cs
  test/coverlet.integration.tests/Collectors.cs
  test/coverlet.integration.tests/DotnetTool.cs
  test/coverlet.integration.tests/Msbuild.cs
  test/coverlet.integration.tests/Properties/AssemblyInfo.cs
  test/coverlet.integration.tests/coverlet.integration.tests.csproj
  test/coverlet.integration.tests/coverlet.integration.tests.snk
Labels: enhancement

#636 Generate multiple reports if project has multiple target frameworks
  src/coverlet.core/Abstracts/IConsole.cs
  src/coverlet.core/DependencyInjection.cs
  src/coverlet.core/Helpers/Console.cs
  src/coverlet.msbuild.tasks/CoverageResultTask.cs
  src/coverlet.msbuild.tasks/Properties/AssemblyInfo.cs
  src/coverlet.msbuild.tasks/ReportWriter.cs
  src/coverlet.msbuild.tasks/coverlet.msbuild.targets
  test/coverlet.core.tests/Reporters/Reporters.cs
  test/coverlet.core.tests/coverlet.core.tests.csproj
  test/coverlet.integration.tests/BaseTest.cs
  test/coverlet.integration.tests/Collectors.cs
  test/coverlet.integration.tests/DotnetTool.cs
  test/coverlet.integration.tests/Msbuild.cs
  test/coverlet.integration.tests/coverlet.integration.tests.csproj
Labels: bug, driver-msbuild, tenet-reporters

#614 Fix cobertura Jenkins reporter + source link support
  src/coverlet.core/Coverage.cs
  src/coverlet.core/CoverageResult.cs
  src/coverlet.core/Reporters/CoberturaReporter.cs
  test/coverlet.core.tests/Reporters/CoberturaReporterTests.cs
Labels: tenet-reporters

#648 Update Changelog.md
  Documentation/Changelog.md
Labels: documentation

#661 Improve cobertura absolute/relative path report generation
  src/coverlet.core/Reporters/CoberturaReporter.cs
  test/coverlet.core.tests/Reporters/CoberturaReporterTests.cs
Labels: enhancement, tenet-reporters
