Repository coverlet-coverage/coverlet, pull requests merged in 2020-03, with the labels that each got.

#753 Skip lambda cached field
  src/coverlet.core/Symbols/CecilSymbolHelper.cs
  test/coverlet.core.tests/Coverage/CoverageTests.AsyncAwait.cs
  test/coverlet.core.tests/Coverage/CoverageTests.Lambda.cs
  test/coverlet.core.tests/Samples/Instrumentation.Lambda.cs
Labels: bug, tenet-coverage

#727 Flow ILogger to InstrumentationHelper 2
  src/coverlet.collector/DataCollection/CoverletCoverageCollector.cs
  src/coverlet.console/Program.cs
  src/coverlet.core/Abstracts/IInstrumentationHelper.cs
  src/coverlet.core/DependencyInjection.cs
  src/coverlet.core/Helpers/InstrumentationHelper.cs
  src/coverlet.msbuild.tasks/CoverageResultTask.cs
  src/coverlet.msbuild.tasks/InstrumentationTask.cs
  test/coverlet.core.tests/Coverage/CoverageTests.cs
  test/coverlet.core.tests/Coverage/InstrumenterHelper.cs
  test/coverlet.core.tests/Helpers/InstrumentationHelperTests.cs
  test/coverlet.core.tests/Instrumentation/InstrumenterTests.cs
Labels: enhancement

#762 Update samples
  Documentation/Examples/MSBuild/MergeWith/MergeWith.sln
  Documentation/Examples/MSBuild/MergeWith/XUnitTestProject1/XUnitTestProject1.csproj
  Documentation/Examples/MSBuild/MergeWith/XUnitTestProject2/XUnitTestProject2.csproj
  Documentation/Examples/MSBuild/MergeWith/XUnitTestProject3/XUnitTestProject3.csproj
  Documentation/Examples/VSTest/HelloWorld/XUnitTestProject1/XUnitTestProject1.csproj
Labels: documentation

#716 Hide compiler generated branches for try/catch blocks inside async state machine
  src/coverlet.core/Instrumentation/Instrumenter.cs
  src/coverlet.core/Symbols/CecilSymbolHelper.cs
  test/coverlet.core.tests/Coverage/CoverageTests.CatchBlock.cs
  test/coverlet.core.tests/Samples/Instrumentation.CatchBlock.cs
Labels: bug, tenet-coverage
