Repository coverlet-coverage/coverlet, pull requests merged in 2020-11, with the labels that each got.

#988 Disable hanging tests
  test/coverlet.core.tests/Coverage/CoverageTests.DoesNotReturn.cs
  test/coverlet.core.tests/Instrumentation/ModuleTrackerTemplateTests.cs
Labels: test bug

#990 Mention the actual missing path in exception output when SourceRootTranslator constructor fails.
  src/coverlet.core/Helpers/SourceRootTranslator.cs
Labels: enhancement

#991 Allow standalone coverlet usage for integration/end-to-end tests using .NET tool driver
  Documentation/GlobalTool.md
  README.md
  src/coverlet.console/Program.cs
  src/coverlet.core/Coverage.cs
  src/coverlet.core/CoveragePrepareResult.cs
  src/coverlet.core/Helpers/InstrumentationHelper.cs
  test/coverlet.core.tests/Helpers/InstrumentationHelperTests.cs
  test/coverlet.core.tests/Instrumentation/InstrumenterResultTests.cs
  test/coverlet.integration.template/Program.cs
  test/coverlet.integration.template/coverlet.integration.template.csproj
  test/coverlet.integration.tests/DotnetTool.cs
Labels: driver-console
