Repository coverlet-coverage/coverlet, pull requests merged in 2020-10, with the labels that each got.

#960 Integration tests for DoesNotReturnAttribute
  test/coverlet.core.tests/Coverage/CoverageTests.DoesNotReturn.cs
Labels: tenet-coverage

#949 Coverage for awaiting ValueTasks
  src/coverlet.core/Symbols/CecilSymbolHelper.cs
  test/coverlet.core.tests/Coverage/CoverageTests.AsyncAwaitValueTask.cs
  test/coverlet.core.tests/Samples/Instrumentation.AsyncAwaitValueTask.cs
  test/coverlet.core.tests/Samples/Samples.cs
  test/coverlet.core.tests/Symbols/CecilSymbolHelperTests.cs
Labels: tenet-coverage

#932 Add `CoverletReport` MSBuild item in the CoverageResultTask MSBuild task
  Documentation/MSBuildIntegration.md
  src/coverlet.msbuild.tasks/CoverageResultTask.cs
  src/coverlet.msbuild.tasks/ReportWriter.cs
  src/coverlet.msbuild.tasks/coverlet.msbuild.targets
  test/coverlet.core.tests/Reporters/Reporters.cs
Labels: driver-msbuild

#965 Remove workaround for deterministic build for sdk ge 3.1.100
  Documentation/DeterministicBuild.md
  src/coverlet.collector/build/netstandard1.0/coverlet.collector.targets
  src/coverlet.msbuild.tasks/coverlet.msbuild.targets
Labels: infrastructure

#971 Consolidate drivers version to 3.0.0
  Documentation/DriversFeatures.md
  README.md
  src/coverlet.collector/version.json
  src/coverlet.console/version.json
  src/coverlet.core/coverlet.core.csproj
  version.json
Labels: infrastructure
