Repository coverlet-coverage/coverlet, pull requests merged in 2021-01, with the labels that each got.

#1043 Fix loss in coverage
  src/coverlet.core/Coverage.cs
Labels: bug, tenet-coverage

#1060 Fix multi-line lambda coverage regression
  src/coverlet.core/Coverage.cs
  test/coverlet.core.tests/Coverage/CoverageTests.Lambda.cs
  test/coverlet.core.tests/Coverage/InstrumenterHelper.Assertions.cs
  test/coverlet.core.tests/Samples/Instrumentation.Lambda.cs
Labels: bug, tenet-coverage

#1061 Opt-in reachability helper
  Documentation/Changelog.md
  Documentation/MSBuildIntegration.md
  src/coverlet.core/Instrumentation/Instrumenter.cs
  test/coverlet.core.tests/Coverage/CoverageTests.DoesNotReturn.cs
  test/coverlet.core.tests/Coverage/InstrumenterHelper.cs
  test/coverlet.core.tests/Instrumentation/InstrumenterTests.cs
Labels: bug

#1039 Add VSMac extension to README
  README.md
Labels: documentation
