Repository coverlet-coverage/coverlet, pull requests merged in 2021-03, with the labels that each got.

#1107 Coverage for "await foreach" loops and compiler-generated async iterators (issue #1104)
  src/coverlet.core/Symbols/CecilSymbolHelper.cs
  test/coverlet.core.tests/Coverage/CoverageTests.AsyncForeach.cs
  test/coverlet.core.tests/Coverage/CoverageTests.AsyncIterator.cs
  test/coverlet.core.tests/Samples/Instrumentation.AsyncForeach.cs
  test/coverlet.core.tests/Samples/Instrumentation.AsyncIterator.cs
  test/coverlet.core.tests/Samples/Samples.cs
  test/coverlet.core.tests/Symbols/CecilSymbolHelperTests.cs
  test/coverlet.core.tests/coverlet.core.tests.csproj
Labels: tenet-coverage

#1108 Update ConsumeNightlyDocs
  Documentation/ConsumeNightlyBuild.md
  Documentation/images/nightly.PNG
  Documentation/images/nightlyExample.PNG
Labels: documentation

#1114 Fix ExcludeFromCodeCoverage on props
  src/coverlet.core/Instrumentation/Instrumenter.cs
  test/coverlet.core.tests/Coverage/CoverageTests.ExcludeFromCoverageAttribute.cs
  test/coverlet.core.tests/Samples/Instrumentation.ExcludeFromCoverage.cs
Labels: bug, tenet-coverage

#1111 Correct coverage for `await using` (issue #914)
  src/coverlet.core/Symbols/CecilSymbolHelper.cs
  test/coverlet.core.tests/Coverage/CoverageTests.AwaitUsing.cs
  test/coverlet.core.tests/Samples/Instrumentation.AwaitUsing.cs
  test/coverlet.core.tests/Samples/Samples.cs
  test/coverlet.core.tests/Symbols/CecilSymbolHelperTests.cs
Labels: tenet-coverage

#1113 Add deterministic report support: Cobertura
  Documentation/DeterministicBuild.md
  Documentation/MSBuildIntegration.md
  Documentation/VSTestIntegration.md
  src/coverlet.collector/DataCollection/CoverageManager.cs
  src/coverlet.collector/DataCollection/CoverageWrapper.cs
  src/coverlet.collector/DataCollection/CoverletSettings.cs
  src/coverlet.collector/DataCollection/CoverletSettingsParser.cs
  src/coverlet.collector/Utilities/CoverletConstants.cs
  src/coverlet.console/Program.cs
  src/coverlet.core/Abstractions/IReporter.cs
  src/coverlet.core/Abstractions/ISourceRootTranslator.cs
  src/coverlet.core/Coverage.cs
  src/coverlet.core/CoveragePrepareResult.cs
  src/coverlet.core/CoverageResult.cs
  src/coverlet.core/Helpers/SourceRootTranslator.cs
  src/coverlet.core/Instrumentation/Instrumenter.cs
  src/coverlet.core/Reporters/CoberturaReporter.cs
  src/coverlet.core/Reporters/JsonReporter.cs
  src/coverlet.core/Reporters/LcovReporter.cs
  src/coverlet.core/Reporters/OpenCoverReporter.cs
  src/coverlet.core/Reporters/ReporterFactory.cs
  src/coverlet.core/Reporters/TeamCityReporter.cs
  src/coverlet.msbuild.tasks/CoverageResultTask.cs
  src/coverlet.msbuild.tasks/InstrumentationTask.cs
  src/coverlet.msbuild.tasks/ReportWriter.cs
  src/coverlet.msbuild.tasks/coverlet.msbuild.props
  src/coverlet.msbuild.tasks/coverlet.msbuild.targets
  test/coverlet.collector.tests/CoverletSettingsParserTests.cs
  test/coverlet.core.tests/Coverage/InstrumenterHelper.cs
  test/coverlet.core.tests/Instrumentation/InstrumenterTests.cs
  test/coverlet.core.tests/Reporters/CoberturaReporterTests.cs
  test/coverlet.core.tests/Reporters/JsonReporterTests.cs
  test/coverlet.core.tests/Reporters/LcovReporterTests.cs
  test/coverlet.core.tests/Reporters/OpenCoverReporterTests.cs
  test/coverlet.core.tests/Reporters/Reporters.cs
  test/coverlet.core.tests/Reporters/TeamCityReporter.cs
  test/coverlet.integration.tests/BaseTest.cs
  test/coverlet.integration.tests/DeterministicBuild.cs
Labels: tenet-reporters

#1058 Implementation of Npath complexity for the OpenCover reports
  src/coverlet.core/CoverageSummary.cs
  src/coverlet.core/Reporters/OpenCoverReporter.cs
  test/coverlet.core.tests/Reporters/OpenCoverReporterTests.cs
Labels: tenet-reporters

#1123 Feat/add multiple threshold #379
  Documentation/MSBuildIntegration.md
  src/coverlet.console/Program.cs
  src/coverlet.core/CoverageResult.cs
  src/coverlet.msbuild.tasks/CoverageResultTask.cs
  test/coverlet.core.tests/CoverageResultTests.cs
Labels: driver-console, driver-msbuild
